<h2>Lista Empleados</h2>
<div class="container">
  <div class="table-container">
    <table class=" table table-striped" style="background-color: rgb(202, 202, 200) ;color: black;">
      <thead class="table-dark">
        <tr>
          <th style = "color:cyan">Nombre
            <div class="btn-group">
              <button (click)="ordenarEmpleados('nombre')" class="btn btn-outline-secondary p-0 border-0"><i class="bi bi-sort-down" style="font-size: 1.2rem; color:aquamarine;"></i></button> 
            </div>
          </th>
          <th style = "color:rgb(217, 255, 0)">Apellido
            <div class="btn-group">
              <button (click)="ordenarEmpleados('apellido')" class="btn btn-outline-secondary p-0 border-0"><i class="bi bi-sort-down" style="font-size: 1.2rem; color:rgb(217, 255, 0);"></i></button> 
            </div>
          </th>
          <th style = "color:rgb(72, 255, 0)">Email
            <div class="btn-group">
              <button (click)="ordenarEmpleados('email')"class="btn btn-outline-secondary p-0 border-0"><i class="bi bi-sort-down" style="font-size: 1.2rem; color:rgb(72, 255, 0);"></i></button> 
            </div>
          </th>
          <th style = "color:white">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of listaEmpleados">
          <th>{{empleado.nombre}} </th><th>{{empleado.apellido}}</th><th>{{empleado.email}}</th>
          <th>
            <button class="btn btn-primary" style ="margin-right: 10px; width:105px"  (click)="actualizarEmpleado(empleado.id)">Editar</button>  
            <button class="btn btn-danger" style ="margin-right: 10px; width:105px"  (click)="EliminarEmpleadoSA(empleado.id)">Eliminar</button>
            <button class="btn btn-outline-info" style ="width:105px"  (click)="verDetallesEmpleado(empleado.id)">Detalles</button>
          </th>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-info" style="height:40px" (click)="obtenerEmpleados()">Refrescar</button>  
  </div>
  <div class="button-container">
    <!-- <button class="btn btn-info" style="height:40px" (click)="obtenerEmpleados()">Refrescar</button>   -->
  </div>
</div>
